eels-data.zip

# use glob syntax.
syntax: glob
*~
*.bak
*.off
*.old
*.pyc
*.bk
*.swp
.DS_Store
__pycache__/

# logging files
detailed.log

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# idea
.idea
*.iml

# building
target
build
null
tmp*
temp*
dist
test-output
build.log

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

#SHITTY output not in target directory
build.log

#emacs TAGS
TAGS

lib/
env/

# Setuptools install folder
*.egg-info/

.directory
*.annotate

test.json
eelsdb.eu/spectra/%ce%b1-moo3/data.msa
eelsdb.eu/spectra/%ce%b1-moo3/metadata.json
eelsdb.eu/spectra/99-99-nickel-metal/data.msa
eelsdb.eu/spectra/99-99-nickel-metal/metadata.json
eelsdb.eu/spectra/alpha-bi2o3/data.msa
eelsdb.eu/spectra/alpha-bi2o3/metadata.json
eelsdb.eu/spectra/alumina-alpha-2/data.msa
eelsdb.eu/spectra/alumina-alpha-2/metadata.json
eelsdb.eu/spectra/alumina-alpha-3/data.msa
eelsdb.eu/spectra/alumina-alpha-3/metadata.json
eelsdb.eu/spectra/alumina-alpha-4/data.msa
eelsdb.eu/spectra/alumina-alpha-4/metadata.json
eelsdb.eu/spectra/alumina-alpha-5/data.msa
eelsdb.eu/spectra/alumina-alpha-5/metadata.json
eelsdb.eu/spectra/alumina-alpha/data.msa
eelsdb.eu/spectra/alumina-alpha/metadata.json
eelsdb.eu/spectra/alumine-alpha/data.msa
eelsdb.eu/spectra/alumine-alpha/metadata.json
eelsdb.eu/spectra/aluminium-gallium-alloy-2/data.msa
eelsdb.eu/spectra/aluminium-gallium-alloy-2/metadata.json
eelsdb.eu/spectra/aluminium-gallium-alloy/data.msa
eelsdb.eu/spectra/aluminium-gallium-alloy/metadata.json
eelsdb.eu/spectra/aluminium-gamma/data.msa
eelsdb.eu/spectra/aluminium-gamma/metadata.json
eelsdb.eu/spectra/aluminium-metal-2/data.msa
eelsdb.eu/spectra/aluminium-metal-2/metadata.json
eelsdb.eu/spectra/aluminium-metal/data.msa
eelsdb.eu/spectra/aluminium-metal/metadata.json
eelsdb.eu/spectra/aluminium-nitride-2/data.msa
eelsdb.eu/spectra/aluminium-nitride-2/metadata.json
eelsdb.eu/spectra/aluminium-nitride-3/data.msa
eelsdb.eu/spectra/aluminium-nitride-3/metadata.json
eelsdb.eu/spectra/aluminium-nitride-4/data.msa
eelsdb.eu/spectra/aluminium-nitride-4/metadata.json
eelsdb.eu/spectra/aluminium-nitride-5/data.msa
eelsdb.eu/spectra/aluminium-nitride-5/metadata.json
eelsdb.eu/spectra/aluminium-nitride/data.msa
eelsdb.eu/spectra/aluminium-nitride/metadata.json
eelsdb.eu/spectra/aluminium-oxide-alpha-2/data.msa
eelsdb.eu/spectra/aluminium-oxide-alpha-2/metadata.json
eelsdb.eu/spectra/aluminium-oxide-alpha/data.msa
eelsdb.eu/spectra/aluminium-oxide-alpha/metadata.json
eelsdb.eu/spectra/aluminium-phosphate/data.msa
eelsdb.eu/spectra/aluminium-phosphate/metadata.json
eelsdb.eu/spectra/amorphous-alumina/data.msa
eelsdb.eu/spectra/amorphous-alumina/metadata.json
eelsdb.eu/spectra/amorphous-carbon-500%c2%bac-15-min/data.msa
eelsdb.eu/spectra/amorphous-carbon-500%c2%bac-15-min/metadata.json
eelsdb.eu/spectra/amorphous-carbon/data.msa
eelsdb.eu/spectra/amorphous-carbon/metadata.json
eelsdb.eu/spectra/amorphous-silicon-dioxide-2/data.msa
eelsdb.eu/spectra/amorphous-silicon-dioxide-2/metadata.json
eelsdb.eu/spectra/amorphous-silicon-dioxide/data.msa
eelsdb.eu/spectra/amorphous-silicon-dioxide/metadata.json
eelsdb.eu/spectra/boron-carbide-2/data.msa
eelsdb.eu/spectra/boron-carbide-2/metadata.json
eelsdb.eu/spectra/boron-carbide-3/data.msa
eelsdb.eu/spectra/boron-carbide-3/metadata.json
eelsdb.eu/spectra/boron-carbide/data.msa
eelsdb.eu/spectra/boron-carbide/metadata.json
eelsdb.eu/spectra/boron-nitride-2/data.msa
eelsdb.eu/spectra/boron-nitride-2/metadata.json
eelsdb.eu/spectra/boron-nitride-multiwall-nanotube-2/data.msa
eelsdb.eu/spectra/boron-nitride-multiwall-nanotube-2/metadata.json
eelsdb.eu/spectra/boron-nitride-multiwall-nanotube/data.msa
eelsdb.eu/spectra/boron-nitride-multiwall-nanotube/metadata.json
eelsdb.eu/spectra/boron-nitride-single-wall-nanotube-2/data.msa
eelsdb.eu/spectra/boron-nitride-single-wall-nanotube-2/metadata.json
eelsdb.eu/spectra/boron-nitride-single-wall-nanotube/data.msa
eelsdb.eu/spectra/boron-nitride-single-wall-nanotube/metadata.json
eelsdb.eu/spectra/boron-nitride-triple-wall-nanotube/data.msa
eelsdb.eu/spectra/boron-nitride-triple-wall-nanotube/metadata.json
eelsdb.eu/spectra/boron-nitride/data.msa
eelsdb.eu/spectra/boron-nitride/metadata.json
eelsdb.eu/spectra/boron-oxide-2/data.msa
eelsdb.eu/spectra/boron-oxide-2/metadata.json
eelsdb.eu/spectra/boron-oxide/data.msa
eelsdb.eu/spectra/boron-oxide/metadata.json
eelsdb.eu/spectra/cacoo-misfit-n/data.msa
eelsdb.eu/spectra/cacoo-misfit-n/metadata.json
eelsdb.eu/spectra/calcium-titanate-perovskite-structure-2/data.msa
eelsdb.eu/spectra/calcium-titanate-perovskite-structure-2/metadata.json
eelsdb.eu/spectra/calcium-titanate-perovskite-structure-3/data.msa
eelsdb.eu/spectra/calcium-titanate-perovskite-structure-3/metadata.json
eelsdb.eu/spectra/calcium-titanate-perovskite-structure/data.msa
eelsdb.eu/spectra/calcium-titanate-perovskite-structure/metadata.json
eelsdb.eu/spectra/carbon-double-wall-nanotube/data.msa
eelsdb.eu/spectra/carbon-double-wall-nanotube/metadata.json
eelsdb.eu/spectra/carbon-multi-wall-nanotube/data.msa
eelsdb.eu/spectra/carbon-multi-wall-nanotube/metadata.json
eelsdb.eu/spectra/carbon-single-wall-nanotube-2/data.msa
eelsdb.eu/spectra/carbon-single-wall-nanotube-2/metadata.json
eelsdb.eu/spectra/carbon-single-wall-nanotube/data.msa
eelsdb.eu/spectra/carbon-single-wall-nanotube/metadata.json
eelsdb.eu/spectra/cerium-praseodymium-mixed-oxide-supported-on-al2o3-doped-with-la2o3/data.msa
eelsdb.eu/spectra/cerium-praseodymium-mixed-oxide-supported-on-al2o3-doped-with-la2o3/metadata.json
eelsdb.eu/spectra/cerium-praseodymium-mixed-oxide/data.msa
eelsdb.eu/spectra/cerium-praseodymium-mixed-oxide/metadata.json
eelsdb.eu/spectra/chromium-carbide-2/data.msa
eelsdb.eu/spectra/chromium-carbide-2/metadata.json
eelsdb.eu/spectra/chromium-carbide-3/data.msa
eelsdb.eu/spectra/chromium-carbide-3/metadata.json
eelsdb.eu/spectra/chromium-carbide-4/data.msa
eelsdb.eu/spectra/chromium-carbide-4/metadata.json
eelsdb.eu/spectra/chromium-carbide/data.msa
eelsdb.eu/spectra/chromium-carbide/metadata.json
eelsdb.eu/spectra/chromium-monocarbide/data.msa
eelsdb.eu/spectra/chromium-monocarbide/metadata.json
eelsdb.eu/spectra/chromium-oxide-chromia/data.msa
eelsdb.eu/spectra/chromium-oxide-chromia/metadata.json
eelsdb.eu/spectra/chromium/data.msa
eelsdb.eu/spectra/chromium/metadata.json
eelsdb.eu/spectra/cn-crystal/data.msa
eelsdb.eu/spectra/cn-crystal/metadata.json
eelsdb.eu/spectra/cobal/data.msa
eelsdb.eu/spectra/cobal/metadata.json
eelsdb.eu/spectra/cobalt-iii-oxide-iv-2/data.msa
eelsdb.eu/spectra/cobalt-iii-oxide-iv-2/metadata.json
eelsdb.eu/spectra/cobalt-iii-oxide-iv/data.msa
eelsdb.eu/spectra/cobalt-iii-oxide-iv/metadata.json
eelsdb.eu/spectra/cobalt-monoxide/data.msa
eelsdb.eu/spectra/cobalt-monoxide/metadata.json
eelsdb.eu/spectra/cobalt-oxide-2/data.msa
eelsdb.eu/spectra/cobalt-oxide-2/metadata.json
eelsdb.eu/spectra/cobalt-oxide-3/data.msa
eelsdb.eu/spectra/cobalt-oxide-3/metadata.json
eelsdb.eu/spectra/cobalt-oxide-4/data.msa
eelsdb.eu/spectra/cobalt-oxide-4/metadata.json
eelsdb.eu/spectra/cobalt-oxide/data.msa
eelsdb.eu/spectra/cobalt-oxide/metadata.json
eelsdb.eu/spectra/cobaltiiiii-oxide/data.msa
eelsdb.eu/spectra/cobaltiiiii-oxide/metadata.json
eelsdb.eu/spectra/copper-2/data.msa
eelsdb.eu/spectra/copper-2/metadata.json
eelsdb.eu/spectra/copper-oxide-2/data.msa
eelsdb.eu/spectra/copper-oxide-2/metadata.json
eelsdb.eu/spectra/copper-oxide-3/data.msa
eelsdb.eu/spectra/copper-oxide-3/metadata.json
eelsdb.eu/spectra/copper-oxide-4/data.msa
eelsdb.eu/spectra/copper-oxide-4/metadata.json
eelsdb.eu/spectra/copper-oxide-5/data.msa
eelsdb.eu/spectra/copper-oxide-5/metadata.json
eelsdb.eu/spectra/copper-oxide-6/data.msa
eelsdb.eu/spectra/copper-oxide-6/metadata.json
eelsdb.eu/spectra/copper-oxide/data.msa
eelsdb.eu/spectra/copper-oxide/metadata.json
eelsdb.eu/spectra/copper/data.msa
eelsdb.eu/spectra/copper/metadata.json
eelsdb.eu/spectra/cu-l23-edges-in-cu4o3/data.msa
eelsdb.eu/spectra/cu-l23-edges-in-cu4o3/metadata.json
eelsdb.eu/spectra/cubic-boron-nitride-2/data.msa
eelsdb.eu/spectra/cubic-boron-nitride-2/metadata.json
eelsdb.eu/spectra/cubic-boron-nitride/data.msa
eelsdb.eu/spectra/cubic-boron-nitride/metadata.json
eelsdb.eu/spectra/diamond-2/data.msa
eelsdb.eu/spectra/diamond-2/metadata.json
eelsdb.eu/spectra/diamond-3/data.msa
eelsdb.eu/spectra/diamond-3/metadata.json
eelsdb.eu/spectra/diamond-4/data.msa
eelsdb.eu/spectra/diamond-4/metadata.json
eelsdb.eu/spectra/diamond-5/data.msa
eelsdb.eu/spectra/diamond-5/metadata.json
eelsdb.eu/spectra/diamond-6/data.msa
eelsdb.eu/spectra/diamond-6/metadata.json
eelsdb.eu/spectra/diamond/data.msa
eelsdb.eu/spectra/diamond/metadata.json
eelsdb.eu/spectra/feal/data.msa
eelsdb.eu/spectra/feal/metadata.json
eelsdb.eu/spectra/ferrous-titanate-2/data.msa
eelsdb.eu/spectra/ferrous-titanate-2/metadata.json
eelsdb.eu/spectra/ferrous-titanate/data.msa
eelsdb.eu/spectra/ferrous-titanate/metadata.json
eelsdb.eu/spectra/gallium-arsenide-2/data.msa
eelsdb.eu/spectra/gallium-arsenide-2/metadata.json
eelsdb.eu/spectra/gallium-arsenide/data.msa
eelsdb.eu/spectra/gallium-arsenide/metadata.json
eelsdb.eu/spectra/gallium-nitride/data.msa
eelsdb.eu/spectra/gallium-nitride/metadata.json
eelsdb.eu/spectra/gallium-phosphate/data.msa
eelsdb.eu/spectra/gallium-phosphate/metadata.json
eelsdb.eu/spectra/gallium-phosphide/data.msa
eelsdb.eu/spectra/gallium-phosphide/metadata.json
eelsdb.eu/spectra/ge-2/data.msa
eelsdb.eu/spectra/ge-2/metadata.json
eelsdb.eu/spectra/ge/data.msa
eelsdb.eu/spectra/ge/metadata.json
eelsdb.eu/spectra/germanium/data.msa
eelsdb.eu/spectra/germanium/metadata.json
eelsdb.eu/spectra/graphite-2/data.msa
eelsdb.eu/spectra/graphite-2/metadata.json
eelsdb.eu/spectra/graphite-really-glassy-carbon/data.msa
eelsdb.eu/spectra/graphite-really-glassy-carbon/metadata.json
eelsdb.eu/spectra/graphite/data.msa
eelsdb.eu/spectra/graphite/metadata.json
eelsdb.eu/spectra/helium/data.msa
eelsdb.eu/spectra/helium/metadata.json
eelsdb.eu/spectra/hematite/data.msa
eelsdb.eu/spectra/hematite/metadata.json
eelsdb.eu/spectra/hexagonal-boron-nitride-2/data.msa
eelsdb.eu/spectra/hexagonal-boron-nitride-2/metadata.json
eelsdb.eu/spectra/hexagonal-boron-nitride/data.msa
eelsdb.eu/spectra/hexagonal-boron-nitride/metadata.json
eelsdb.eu/spectra/hosse-tas2se-misfit-nanotube/data.msa
eelsdb.eu/spectra/hosse-tas2se-misfit-nanotube/metadata.json
eelsdb.eu/spectra/iron-iii-oxide-hematite/data.msa
eelsdb.eu/spectra/iron-iii-oxide-hematite/metadata.json
eelsdb.eu/spectra/iron-oxide-2-lines-ferrihydrite-2/data.msa
eelsdb.eu/spectra/iron-oxide-2-lines-ferrihydrite-2/metadata.json
eelsdb.eu/spectra/iron-oxide-2-lines-ferrihydrite/data.msa
eelsdb.eu/spectra/iron-oxide-2-lines-ferrihydrite/metadata.json
eelsdb.eu/spectra/iron-oxide-2/data.msa
eelsdb.eu/spectra/iron-oxide-2/metadata.json
eelsdb.eu/spectra/iron-oxide-cl-containing-akaganeite-2/data.msa
eelsdb.eu/spectra/iron-oxide-cl-containing-akaganeite-2/metadata.json
eelsdb.eu/spectra/iron-oxide-cl-containing-akaganeite/data.msa
eelsdb.eu/spectra/iron-oxide-cl-containing-akaganeite/metadata.json
eelsdb.eu/spectra/iron-oxide-goethite-2/data.msa
eelsdb.eu/spectra/iron-oxide-goethite-2/metadata.json
eelsdb.eu/spectra/iron-oxide-goethite/data.msa
eelsdb.eu/spectra/iron-oxide-goethite/metadata.json
eelsdb.eu/spectra/iron-oxide-hematite-2/data.msa
eelsdb.eu/spectra/iron-oxide-hematite-2/metadata.json
eelsdb.eu/spectra/iron-oxide-hematite/data.msa
eelsdb.eu/spectra/iron-oxide-hematite/metadata.json
eelsdb.eu/spectra/iron-oxide-magnetite-2/data.msa
eelsdb.eu/spectra/iron-oxide-magnetite-2/metadata.json
eelsdb.eu/spectra/iron-oxide-magnetite/data.msa
eelsdb.eu/spectra/iron-oxide-magnetite/metadata.json
eelsdb.eu/spectra/iron-oxide-siderite-2/data.msa
eelsdb.eu/spectra/iron-oxide-siderite-2/metadata.json
eelsdb.eu/spectra/iron-oxide-siderite/data.msa
eelsdb.eu/spectra/iron-oxide-siderite/metadata.json
eelsdb.eu/spectra/iron-oxide/data.msa
eelsdb.eu/spectra/iron-oxide/metadata.json
eelsdb.eu/spectra/iron-phosphate/data.msa
eelsdb.eu/spectra/iron-phosphate/metadata.json
eelsdb.eu/spectra/iron-titanium-oxide/data.msa
eelsdb.eu/spectra/iron-titanium-oxide/metadata.json
eelsdb.eu/spectra/iron/data.msa
eelsdb.eu/spectra/iron/metadata.json
eelsdb.eu/spectra/la0-7sr0-3mno3-film-on-srtio3-111-substrate/data.msa
eelsdb.eu/spectra/la0-7sr0-3mno3-film-on-srtio3-111-substrate/metadata.json
eelsdb.eu/spectra/la0-7sr0-3mno3-thin-film-2/data.msa
eelsdb.eu/spectra/la0-7sr0-3mno3-thin-film-2/metadata.json
eelsdb.eu/spectra/la0-7sr0-3mno3-thin-film-3/data.msa
eelsdb.eu/spectra/la0-7sr0-3mno3-thin-film-3/metadata.json
eelsdb.eu/spectra/la0-7sr0-3mno3-thin-film-4/data.msa
eelsdb.eu/spectra/la0-7sr0-3mno3-thin-film-4/metadata.json
eelsdb.eu/spectra/la0-7sr0-3mno3-thin-film-electron-beam-damage-2/data.msa
eelsdb.eu/spectra/la0-7sr0-3mno3-thin-film-electron-beam-damage-2/metadata.json
eelsdb.eu/spectra/la0-7sr0-3mno3-thin-film-electron-beam-damage/data.msa
eelsdb.eu/spectra/la0-7sr0-3mno3-thin-film-electron-beam-damage/metadata.json
eelsdb.eu/spectra/la0-7sr0-3mno3-thin-film-heavy-electron-beam-damage-2/data.msa
eelsdb.eu/spectra/la0-7sr0-3mno3-thin-film-heavy-electron-beam-damage-2/metadata.json
eelsdb.eu/spectra/la0-7sr0-3mno3-thin-film-heavy-electron-beam-damage/data.msa
eelsdb.eu/spectra/la0-7sr0-3mno3-thin-film-heavy-electron-beam-damage/metadata.json
eelsdb.eu/spectra/la0-7sr0-3mno3-thin-film/data.msa
eelsdb.eu/spectra/la0-7sr0-3mno3-thin-film/metadata.json
eelsdb.eu/spectra/la0-7sr0-3mno3srtio3-001-heterostructure-2/data.msa
eelsdb.eu/spectra/la0-7sr0-3mno3srtio3-001-heterostructure-2/metadata.json
eelsdb.eu/spectra/la0-7sr0-3mno3srtio3-001-heterostructure-brown-millerite-oxygen-vacancie/data.msa
eelsdb.eu/spectra/la0-7sr0-3mno3srtio3-001-heterostructure-brown-millerite-oxygen-vacancie/metadata.json
eelsdb.eu/spectra/la0-7sr0-3mno3srtio3-001-heterostructure-oxygen-vacancie/data.msa
eelsdb.eu/spectra/la0-7sr0-3mno3srtio3-001-heterostructure-oxygen-vacancie/metadata.json
eelsdb.eu/spectra/la0-7sr0-3mno3srtio3-001-heterostructure-oxygen-vacancies-2/data.msa
eelsdb.eu/spectra/la0-7sr0-3mno3srtio3-001-heterostructure-oxygen-vacancies-2/metadata.json
eelsdb.eu/spectra/la0-7sr0-3mno3srtio3-001-heterostructure/data.msa
eelsdb.eu/spectra/la0-7sr0-3mno3srtio3-001-heterostructure/metadata.json
eelsdb.eu/spectra/la2nio4-structure-of-k2nif4/data.msa
eelsdb.eu/spectra/la2nio4-structure-of-k2nif4/metadata.json
eelsdb.eu/spectra/lafeo3-thin-film-2/data.msa
eelsdb.eu/spectra/lafeo3-thin-film-2/metadata.json
eelsdb.eu/spectra/lafeo3-thin-film/data.msa
eelsdb.eu/spectra/lafeo3-thin-film/metadata.json
eelsdb.eu/spectra/lanathanum-cobalt-oxide/data.msa
eelsdb.eu/spectra/lanathanum-cobalt-oxide/metadata.json
eelsdb.eu/spectra/lanthanum-cobalt-oxide/data.msa
eelsdb.eu/spectra/lanthanum-cobalt-oxide/metadata.json
eelsdb.eu/spectra/lasse-tas2se-misfit-nanotube/data.msa
eelsdb.eu/spectra/lasse-tas2se-misfit-nanotube/metadata.json
eelsdb.eu/spectra/lsmo-perovskite-2/data.msa
eelsdb.eu/spectra/lsmo-perovskite-2/metadata.json
eelsdb.eu/spectra/lsmo-perovskite-3/data.msa
eelsdb.eu/spectra/lsmo-perovskite-3/metadata.json
eelsdb.eu/spectra/lsmo-perovskite/data.msa
eelsdb.eu/spectra/lsmo-perovskite/metadata.json
eelsdb.eu/spectra/magnesium-carbonate-2/data.msa
eelsdb.eu/spectra/magnesium-carbonate-2/metadata.json
eelsdb.eu/spectra/magnesium-carbonate/data.msa
eelsdb.eu/spectra/magnesium-carbonate/metadata.json
eelsdb.eu/spectra/magnesium-oxide-2/data.msa
eelsdb.eu/spectra/magnesium-oxide-2/metadata.json
eelsdb.eu/spectra/magnesium-oxide-3/data.msa
eelsdb.eu/spectra/magnesium-oxide-3/metadata.json
eelsdb.eu/spectra/magnesium-oxide/data.msa
eelsdb.eu/spectra/magnesium-oxide/metadata.json
eelsdb.eu/spectra/manganese-oxide-2/data.msa
eelsdb.eu/spectra/manganese-oxide-2/metadata.json
eelsdb.eu/spectra/manganese-oxide/data.msa
eelsdb.eu/spectra/manganese-oxide/metadata.json
eelsdb.eu/spectra/melamine-powder-irradiated/data.msa
eelsdb.eu/spectra/melamine-powder-irradiated/metadata.json
eelsdb.eu/spectra/melamine-powder/data.msa
eelsdb.eu/spectra/melamine-powder/metadata.json
eelsdb.eu/spectra/metallic-cobal/data.msa
eelsdb.eu/spectra/metallic-cobal/metadata.json
eelsdb.eu/spectra/molybdenum/data.msa
eelsdb.eu/spectra/molybdenum/metadata.json
eelsdb.eu/spectra/moo2-2/data.msa
eelsdb.eu/spectra/moo2-2/metadata.json
eelsdb.eu/spectra/moo2-3/data.msa
eelsdb.eu/spectra/moo2-3/metadata.json
eelsdb.eu/spectra/moo2/data.msa
eelsdb.eu/spectra/moo2/metadata.json
eelsdb.eu/spectra/moo3-2/data.msa
eelsdb.eu/spectra/moo3-2/metadata.json
eelsdb.eu/spectra/moo3-3/data.msa
eelsdb.eu/spectra/moo3-3/metadata.json
eelsdb.eu/spectra/moo3-few-layer/data.msa
eelsdb.eu/spectra/moo3-few-layer/metadata.json
eelsdb.eu/spectra/moo3-x-few-layer/data.msa
eelsdb.eu/spectra/moo3-x-few-layer/metadata.json
eelsdb.eu/spectra/moo3/data.msa
eelsdb.eu/spectra/moo3/metadata.json
eelsdb.eu/spectra/n2-ga/data.msa
eelsdb.eu/spectra/n2-ga/metadata.json
eelsdb.eu/spectra/nickel-monoxide/data.msa
eelsdb.eu/spectra/nickel-monoxide/metadata.json
eelsdb.eu/spectra/nickel-oxide/data.msa
eelsdb.eu/spectra/nickel-oxide/metadata.json
eelsdb.eu/spectra/nickel-silicide-2/data.msa
eelsdb.eu/spectra/nickel-silicide-2/metadata.json
eelsdb.eu/spectra/nickel-silicide-3/data.msa
eelsdb.eu/spectra/nickel-silicide-3/metadata.json
eelsdb.eu/spectra/nickel-silicide/data.msa
eelsdb.eu/spectra/nickel-silicide/metadata.json
eelsdb.eu/spectra/nickel-titanium-2/data.msa
eelsdb.eu/spectra/nickel-titanium-2/metadata.json
eelsdb.eu/spectra/nickel-titanium/data.msa
eelsdb.eu/spectra/nickel-titanium/metadata.json
eelsdb.eu/spectra/niobium-oxide-2/data.msa
eelsdb.eu/spectra/niobium-oxide-2/metadata.json
eelsdb.eu/spectra/niobium-oxide-nbo2-2/data.msa
eelsdb.eu/spectra/niobium-oxide-nbo2-2/metadata.json
eelsdb.eu/spectra/niobium-oxide-nbo2/data.msa
eelsdb.eu/spectra/niobium-oxide-nbo2/metadata.json
eelsdb.eu/spectra/niobium-oxide/data.msa
eelsdb.eu/spectra/niobium-oxide/metadata.json
eelsdb.eu/spectra/o-k-edge-in-cu4o3/data.msa
eelsdb.eu/spectra/o-k-edge-in-cu4o3/metadata.json
eelsdb.eu/spectra/o-k-edge-la2nio4-structure-of-k2nif4-tetragonale-i4-mmm/data.msa
eelsdb.eu/spectra/o-k-edge-la2nio4-structure-of-k2nif4-tetragonale-i4-mmm/metadata.json
eelsdb.eu/spectra/oxidised-amorphous-carbon-500%c2%bac-2500-min/data.msa
eelsdb.eu/spectra/oxidised-amorphous-carbon-500%c2%bac-2500-min/metadata.json
eelsdb.eu/spectra/oxidized-graphenic-nanoplatelets-obtained-from-bamboo-high-oxygen/data.msa
eelsdb.eu/spectra/oxidized-graphenic-nanoplatelets-obtained-from-bamboo-high-oxygen/metadata.json
eelsdb.eu/spectra/oxidized-graphenic-nanoplatelets-obtained-from-bamboo-low-oxygen-2/data.msa
eelsdb.eu/spectra/oxidized-graphenic-nanoplatelets-obtained-from-bamboo-low-oxygen-2/metadata.json
eelsdb.eu/spectra/oxidized-graphenic-nanoplatelets-obtained-from-bamboo-low-oxygen/data.msa
eelsdb.eu/spectra/oxidized-graphenic-nanoplatelets-obtained-from-bamboo-low-oxygen/metadata.json
eelsdb.eu/spectra/oxidized-graphenic-nanoplatelets-obtained-from-bamboo/data.msa
eelsdb.eu/spectra/oxidized-graphenic-nanoplatelets-obtained-from-bamboo/metadata.json
eelsdb.eu/spectra/porous-cobalt-coating-with-he-filled-nanopore/data.msa
eelsdb.eu/spectra/porous-cobalt-coating-with-he-filled-nanopore/metadata.json
eelsdb.eu/spectra/porous-cobalt-coating-with-he-filled-nanopores-2/data.msa
eelsdb.eu/spectra/porous-cobalt-coating-with-he-filled-nanopores-2/metadata.json
eelsdb.eu/spectra/pure-boron/data.msa
eelsdb.eu/spectra/pure-boron/metadata.json
eelsdb.eu/spectra/pure-ni/data.msa
eelsdb.eu/spectra/pure-ni/metadata.json
eelsdb.eu/spectra/pvd0062-2/data.msa
eelsdb.eu/spectra/pvd0062-2/metadata.json
eelsdb.eu/spectra/pvd0062/data.msa
eelsdb.eu/spectra/pvd0062/metadata.json
eelsdb.eu/spectra/pyrite-2/data.msa
eelsdb.eu/spectra/pyrite-2/metadata.json
eelsdb.eu/spectra/pyrite/data.msa
eelsdb.eu/spectra/pyrite/metadata.json
eelsdb.eu/spectra/quartz-alpha-polarised-2/data.msa
eelsdb.eu/spectra/quartz-alpha-polarised-2/metadata.json
eelsdb.eu/spectra/quartz-alpha-polarised/data.msa
eelsdb.eu/spectra/quartz-alpha-polarised/metadata.json
eelsdb.eu/spectra/quartz-alpha/data.msa
eelsdb.eu/spectra/quartz-alpha/metadata.json
eelsdb.eu/spectra/reduced-graphene-oxide/data.msa
eelsdb.eu/spectra/reduced-graphene-oxide/metadata.json
eelsdb.eu/spectra/samarium-oxide/data.msa
eelsdb.eu/spectra/samarium-oxide/metadata.json
eelsdb.eu/spectra/si-2/data.msa
eelsdb.eu/spectra/si-2/metadata.json
eelsdb.eu/spectra/si/data.msa
eelsdb.eu/spectra/si/metadata.json
eelsdb.eu/spectra/silicon-2/data.msa
eelsdb.eu/spectra/silicon-2/metadata.json
eelsdb.eu/spectra/silicon-4/data.msa
eelsdb.eu/spectra/silicon-4/metadata.json
eelsdb.eu/spectra/silicon-5/data.msa
eelsdb.eu/spectra/silicon-5/metadata.json
eelsdb.eu/spectra/silicon-6/data.msa
eelsdb.eu/spectra/silicon-6/metadata.json
eelsdb.eu/spectra/silicon-7/data.msa
eelsdb.eu/spectra/silicon-7/metadata.json
eelsdb.eu/spectra/silicon-8/data.msa
eelsdb.eu/spectra/silicon-8/metadata.json
eelsdb.eu/spectra/silicon-carbide-6hhexagonal-2/data.msa
eelsdb.eu/spectra/silicon-carbide-6hhexagonal-2/metadata.json
eelsdb.eu/spectra/silicon-carbide-6hhexagonal-3/data.msa
eelsdb.eu/spectra/silicon-carbide-6hhexagonal-3/metadata.json
eelsdb.eu/spectra/silicon-carbide-6hhexagonal/data.msa
eelsdb.eu/spectra/silicon-carbide-6hhexagonal/metadata.json
eelsdb.eu/spectra/silicon-carbide/data.msa
eelsdb.eu/spectra/silicon-carbide/metadata.json
eelsdb.eu/spectra/silicon-dioxide-amorphou/data.msa
eelsdb.eu/spectra/silicon-dioxide-amorphou/metadata.json
eelsdb.eu/spectra/silicon-dioxide-amorphous-2/data.msa
eelsdb.eu/spectra/silicon-dioxide-amorphous-2/metadata.json
eelsdb.eu/spectra/silicon-dioxide-amorphous-3/data.msa
eelsdb.eu/spectra/silicon-dioxide-amorphous-3/metadata.json
eelsdb.eu/spectra/silicon-nitride-2/data.msa
eelsdb.eu/spectra/silicon-nitride-2/metadata.json
eelsdb.eu/spectra/silicon-nitride-alpha-2/data.msa
eelsdb.eu/spectra/silicon-nitride-alpha-2/metadata.json
eelsdb.eu/spectra/silicon-nitride-alpha-3/data.msa
eelsdb.eu/spectra/silicon-nitride-alpha-3/metadata.json
eelsdb.eu/spectra/silicon-nitride-alpha-4/data.msa
eelsdb.eu/spectra/silicon-nitride-alpha-4/metadata.json
eelsdb.eu/spectra/silicon-nitride-alpha/data.msa
eelsdb.eu/spectra/silicon-nitride-alpha/metadata.json
eelsdb.eu/spectra/silicon-nitride-beta/data.msa
eelsdb.eu/spectra/silicon-nitride-beta/metadata.json
eelsdb.eu/spectra/silicon-nitride/data.msa
eelsdb.eu/spectra/silicon-nitride/metadata.json
eelsdb.eu/spectra/silicon/data.msa
eelsdb.eu/spectra/silicon/metadata.json
eelsdb.eu/spectra/sodium-chloride/data.msa
eelsdb.eu/spectra/sodium-chloride/metadata.json
eelsdb.eu/spectra/sodium-oxyde/data.msa
eelsdb.eu/spectra/sodium-oxyde/metadata.json
eelsdb.eu/spectra/srcoo-misfit-n/data.msa
eelsdb.eu/spectra/srcoo-misfit-n/metadata.json
eelsdb.eu/spectra/srtio3-001/data.msa
eelsdb.eu/spectra/srtio3-001/metadata.json
eelsdb.eu/spectra/srtio3-111-2/data.msa
eelsdb.eu/spectra/srtio3-111-2/metadata.json
eelsdb.eu/spectra/srtio3-111-3/data.msa
eelsdb.eu/spectra/srtio3-111-3/metadata.json
eelsdb.eu/spectra/srtio3-111-4/data.msa
eelsdb.eu/spectra/srtio3-111-4/metadata.json
eelsdb.eu/spectra/srtio3-111-heavy-beam-damage-2/data.msa
eelsdb.eu/spectra/srtio3-111-heavy-beam-damage-2/metadata.json
eelsdb.eu/spectra/srtio3-111-heavy-beam-damage/data.msa
eelsdb.eu/spectra/srtio3-111-heavy-beam-damage/metadata.json
eelsdb.eu/spectra/srtio3-111-light-beam-damage-2/data.msa
eelsdb.eu/spectra/srtio3-111-light-beam-damage-2/metadata.json
eelsdb.eu/spectra/srtio3-111-light-beam-damage/data.msa
eelsdb.eu/spectra/srtio3-111-light-beam-damage/metadata.json
eelsdb.eu/spectra/srtio3-111/data.msa
eelsdb.eu/spectra/srtio3-111/metadata.json
eelsdb.eu/spectra/srtio3/data.msa
eelsdb.eu/spectra/srtio3/metadata.json
eelsdb.eu/spectra/strontium-ferrite/data.msa
eelsdb.eu/spectra/strontium-ferrite/metadata.json
eelsdb.eu/spectra/strontium-titanate-2/data.msa
eelsdb.eu/spectra/strontium-titanate-2/metadata.json
eelsdb.eu/spectra/strontium-titanate-3/data.msa
eelsdb.eu/spectra/strontium-titanate-3/metadata.json
eelsdb.eu/spectra/strontium-titanate-4/data.msa
eelsdb.eu/spectra/strontium-titanate-4/metadata.json
eelsdb.eu/spectra/strontium-titanate-5/data.msa
eelsdb.eu/spectra/strontium-titanate-5/metadata.json
eelsdb.eu/spectra/strontium-titanate/data.msa
eelsdb.eu/spectra/strontium-titanate/metadata.json
eelsdb.eu/spectra/ta2o5-amoprhou/data.msa
eelsdb.eu/spectra/ta2o5-amoprhou/metadata.json
eelsdb.eu/spectra/tbs-crs2-nanotube/data.msa
eelsdb.eu/spectra/tbs-crs2-nanotube/metadata.json
eelsdb.eu/spectra/ti-ferrite-spinel-2/data.msa
eelsdb.eu/spectra/ti-ferrite-spinel-2/metadata.json
eelsdb.eu/spectra/ti-ferrite-spinel-3/data.msa
eelsdb.eu/spectra/ti-ferrite-spinel-3/metadata.json
eelsdb.eu/spectra/ti-ferrite-spinel/data.msa
eelsdb.eu/spectra/ti-ferrite-spinel/metadata.json
eelsdb.eu/spectra/tin-ii-oxide/data.msa
eelsdb.eu/spectra/tin-ii-oxide/metadata.json
eelsdb.eu/spectra/tin-iv-oxide/data.msa
eelsdb.eu/spectra/tin-iv-oxide/metadata.json
eelsdb.eu/spectra/tin/data.msa
eelsdb.eu/spectra/tin/metadata.json
eelsdb.eu/spectra/titanium-dioxide-2/data.msa
eelsdb.eu/spectra/titanium-dioxide-2/metadata.json
eelsdb.eu/spectra/titanium-dioxide-3/data.msa
eelsdb.eu/spectra/titanium-dioxide-3/metadata.json
eelsdb.eu/spectra/titanium-dioxide-4/data.msa
eelsdb.eu/spectra/titanium-dioxide-4/metadata.json
eelsdb.eu/spectra/titanium-dioxide-5/data.msa
eelsdb.eu/spectra/titanium-dioxide-5/metadata.json
eelsdb.eu/spectra/titanium-dioxide-6/data.msa
eelsdb.eu/spectra/titanium-dioxide-6/metadata.json
eelsdb.eu/spectra/titanium-dioxide-7/data.msa
eelsdb.eu/spectra/titanium-dioxide-7/metadata.json
eelsdb.eu/spectra/titanium-dioxide-rutile-structure-3/data.msa
eelsdb.eu/spectra/titanium-dioxide-rutile-structure-3/metadata.json
eelsdb.eu/spectra/titanium-dioxide-rutile-structure-4/data.msa
eelsdb.eu/spectra/titanium-dioxide-rutile-structure-4/metadata.json
eelsdb.eu/spectra/titanium-dioxide/data.msa
eelsdb.eu/spectra/titanium-dioxide/metadata.json
eelsdb.eu/spectra/titanium/data.msa
eelsdb.eu/spectra/titanium/metadata.json
eelsdb.eu/spectra/tungsten-silicide-amorphou/data.msa
eelsdb.eu/spectra/tungsten-silicide-amorphou/metadata.json
eelsdb.eu/spectra/vanadium-oxide-2/data.msa
eelsdb.eu/spectra/vanadium-oxide-2/metadata.json
eelsdb.eu/spectra/vanadium-oxide/data.msa
eelsdb.eu/spectra/vanadium-oxide/metadata.json
eelsdb.eu/spectra/vanadium/data.msa
eelsdb.eu/spectra/vanadium/metadata.json
eelsdb.eu/spectra/yag-yttrium-aluminium-garne/data.msa
eelsdb.eu/spectra/yag-yttrium-aluminium-garne/metadata.json
eelsdb.eu/spectra/yag-yttrium-aluminium-garnet-2/data.msa
eelsdb.eu/spectra/yag-yttrium-aluminium-garnet-2/metadata.json
eelsdb.eu/spectra/yag-yttrium-aluminium-garnet-3/data.msa
eelsdb.eu/spectra/yag-yttrium-aluminium-garnet-3/metadata.json
eelsdb.eu/spectra/yag-yttrium-aluminium-garnet-5/data.msa
eelsdb.eu/spectra/yag-yttrium-aluminium-garnet-5/metadata.json
eelsdb.eu/spectra/yam-monoclinic-yttrium-aluminate-2/data.msa
eelsdb.eu/spectra/yam-monoclinic-yttrium-aluminate-2/metadata.json
eelsdb.eu/spectra/yam-monoclinic-yttrium-aluminate-3/data.msa
eelsdb.eu/spectra/yam-monoclinic-yttrium-aluminate-3/metadata.json
eelsdb.eu/spectra/yam-monoclinic-yttrium-aluminate/data.msa
eelsdb.eu/spectra/yam-monoclinic-yttrium-aluminate/metadata.json
eelsdb.eu/spectra/yap-yttrium-aluminium-perovskite-2/data.msa
eelsdb.eu/spectra/yap-yttrium-aluminium-perovskite-2/metadata.json
eelsdb.eu/spectra/yap-yttrium-aluminium-perovskite-3/data.msa
eelsdb.eu/spectra/yap-yttrium-aluminium-perovskite-3/metadata.json
eelsdb.eu/spectra/yap-yttrium-aluminium-perovskite-4/data.msa
eelsdb.eu/spectra/yap-yttrium-aluminium-perovskite-4/metadata.json
eelsdb.eu/spectra/yap-yttrium-aluminium-perovskite/data.msa
eelsdb.eu/spectra/yap-yttrium-aluminium-perovskite/metadata.json
eelsdb.eu/spectra/yttria-stabilized-zirconia/data.msa
eelsdb.eu/spectra/yttria-stabilized-zirconia/metadata.json
eelsdb.eu/spectra/yttria/data.msa
eelsdb.eu/spectra/yttria/metadata.json
eelsdb.eu/spectra/zero-loss-c-feg-hitachi-disp-0-214-ev/data.msa
eelsdb.eu/spectra/zero-loss-c-feg-hitachi-disp-0-214-ev/metadata.json
eelsdb.eu/spectra/zinc-oxide-2/data.msa
eelsdb.eu/spectra/zinc-oxide-2/metadata.json
eelsdb.eu/spectra/zinc-oxide/data.msa
eelsdb.eu/spectra/zinc-oxide/metadata.json
eelsdb.eu/spectra/zinc-sulfide-2/data.msa
eelsdb.eu/spectra/zinc-sulfide-2/metadata.json
eelsdb.eu/spectra/zirconia-monoclinic/data.msa
eelsdb.eu/spectra/zirconia-monoclinic/metadata.json
eelsdb.eu/spectra/zirconia-tetragonal/data.msa
eelsdb.eu/spectra/zirconia-tetragonal/metadata.json
eelsdb.eu/spectra/zr/data.msa
eelsdb.eu/spectra/zr/metadata.json
eelsdb.eu/spectra/zro2/data.msa
eelsdb.eu/spectra/zro2/metadata.json
